.search_dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dashboard_filter {
  padding-top: 2%;
}

@media (min-width: 625px) and (max-width: 1780px) {
  .dashboard_filter {
    padding: 5% 20%;
  }
}

.dashboard_plantlist {
  padding-top: 2%;
}