.plantcard {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 220px;
  margin: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2%;
}

.plantcard_img {
  width: 220px;
}

.plantcard_img>img {
  width: 100%;
}

.plantcard-info {
  padding: 0 5%;
}

.plantcard-title {
  margin-top: 0px;
  margin-bottom: 4px;
}

.plantcard-scientific {
  margin-top: 0px;
  padding-top: 0px;
  font-weight: 100;
  margin-bottom: 10px;
}

.plantcard-icons {
  display: flex;
  justify-content: row;
  padding: 0 2vh;
}

.add_button_yellow {
  margin: 0 5%;
  padding: 3% 5%;
  width: 120px;
}

.add_button_text {
  font-weight: 200;
  font-size: 18px;
}