.plantcard {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 0 0 250px;
  margin: 5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plantcard_img {
  width: 250px;
}

.plantcard_img>img {
  width: 100%;
}

.plantcard-info {
  padding: 0 2vh;
}

.plantcard-title {
  margin-bottom: 4px;
}

.plantcard-type {
  margin-top: 0px;
}

.plantcard-icons {
  display: flex;
  justify-content: row;
  padding: 0 2vh;
}

.add_icon {
  margin: 0 auto;
}