.mylist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 0 0 350px;
}

.myplantcard {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex: 0 0 350px;
  margin: 5%;
  box-sizing: border-box;
  padding: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.delay {
  border-bottom: 3px solid #F50057;
}

.delete_button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
}

.myplantcard_img {
  flex: 0 0 125px;
  padding-right: 5%;
}

.myplantcard_img>img {
  border-radius: 50%;
  width: 150px;
  box-shadow: 0 8px 6px -6px black;
}

.myplantcard-info {
  padding: 0;
  margin: 0;
}

.myplantcard-title {
  margin-top: 0px;
  margin-bottom: 2px;
}

.myplantcard-type {
  margin-top: 0px;
  font-weight: 100;
}

.myplantcard-icons {
  display: flex;
  justify-content: row;
  padding: 0 2vh;
}

.button_water_green {
  width: 150px;
  margin: 0px;
  background: #00BFA6;
  color: black;
}

.button_water_yellow {
  margin: 0px;
  width: 150px;
  background: #F9A826;
  color: black;
}

.button_water_red {
  margin: 0px;
  width: 150px;
  background: #F50057;
  color: black;
}

.button_water_green:active {
  transform: scale(0.99);
  background: #00695A;
}

.button_water_yellow:active {
  transform: scale(0.99);
  background: #BD7F1B;
}

.button_water_red:active {
  transform: scale(0.99);
  background: #C10346;
}

.button_water_text {
  font-size: 17px;
  font-weight: bold;
}

.confirmation_button {
  width: 150px;
  margin: 0px;
  background: #C10346;
  color: white;
}

.cancelImg {
  width: 20px;
}