.plant_form {
  text-align: center;
  margin-top: 0px;
  height: 100%
}

.hr_green {
  border-color: #00BFA6;
  margin: 0 15%;
}

.hr_yellow {
  border-color: #F9A826;
  margin: 0 15%;
}

[type=radio] {
  display: none;
}

.smaller {
  display: inline;
}

[type=radio]+.icon {
  color: gray;
  cursor: pointer;
  display: inline-block;
  vertical-align: sub;
}

[type=radio]:checked {
  color: black;
}

[type=radio]:checked+.icon {
  color: black;
}

.selected+.icon {
  color: black;
}

.label_type {
  text-align: left;
}

.page1 .form_subtitle, .page2 .form_subtitle {
  margin: 10px 45px;
}

.form_btn_green {
  margin: 30% 15% 2% 15%;
  background: #00BFA6;
  color: #ffffff;
}

.form_btn_yellow {
  margin: 30% 15% 2% 15%;
  background: #F9A826;
  color: #ffffff;
}

.page1, .page2 {
  width: 100%;
  text-align: center;
}

.carousel {
  height: 100%;
  margin-top: 15px;
  margin-bottom: 50px;
}