.Home {
  margin-top: 2%;
}

.home_green, .home_yellow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_title_green {
  padding-top: 0px;
  color: #00BFA6;
  vertical-align: middle;
  margin-bottom: 2px;
  padding-bottom: 0px;
  text-align: center;
}

.home_title_yellow {
  padding-top: 0px;
  color: #F9A826;
  margin-bottom: 2px;
  padding-bottom: 0px;
  text-align: center;
}

.title_text {
  color: black;
}

.home_subtitle {
  padding: 1%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
}

.button_green {
  margin: 0% 25% 2% 25%;
  background: #00BFA6;
  color: #ffffff;
}

.button_yellow {
  margin: 0% 25% 2% 25%;
  background: #F9A826;
  color: #ffffff;
}

.home_img {
  width: 100%;
}

.home_quote_green {
  font-size: 20px;
  text-align: center;
  margin: 1% 5%;
  border: 0.5px solid #00BFA6;
}

.home_quote_yellow {
  font-size: 20px;
  text-align: center;
  margin: 1% 5%;
  border: 0.5px solid #F9A826;
}

.quote_green {
  color: #00BFA6;
}

.quote_yellow {
  color: #F9A826;
}