.myplants {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.myplants-title {
  margin-top: 7%;
  margin-bottom: 0;
  text-align: center;
}

.myplants-desc {
  text-align: center;
}